/*
	This file contains all the CSS from the Pine Framework.
	Your production email templates will very likely not need everything here.
	Ready-made templates should include only the necessary CSS styles.
	This file is provided as a convenience, in case you want to add a new module to a	template and the module requires some CSS that is not present in the template.
 */

/*
	Webfonts

	This is just an example, remove if not using webfonts in your email.
	Read the docs: http://pine.thememountain.com/components/typography.html
*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
@media only screen {
  .serif {font-family: 'Merriweather', Georgia, serif;}
  .sans-serif {font-family: 'Open Sans', Arial, sans-serif;}
}

/* Reset Styles */
#outlook a {padding: 0;}
table, th, td {-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-size: 16px; line-height: 26px;}
table, th, td, h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Arial, sans-serif;}
img {-ms-interpolation-mode: bicubic; border: 0; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none;}
table {border-collapse: collapse;}

/* Base Layout*/
.row {width: 700px;}
.row .row {width: 100%;}

th.menu-item {display: inline;}

/* Responsive Styles */
@media only screen and (max-width: 699px) {

  .row {width: 90% !important;}
	.row .row {width: 100% !important;}

	/* Columns */
	.column {
    box-sizing: border-box;
    display: inline-block !important;
    width: 100% !important;
  }
	.mobile-1  {max-width: 8.33333%;}
	.mobile-2  {max-width: 16.66667%;}
	.mobile-3  {max-width: 25%;}
	.mobile-4  {max-width: 33.33333%;}
	.mobile-5  {max-width: 41.66667%;}
	.mobile-6  {max-width: 50%;}
	.mobile-7  {max-width: 58.33333%;}
	.mobile-8  {max-width: 66.66667%;}
	.mobile-9  {max-width: 75%;}
	.mobile-10 {max-width: 83.33333%;}
	.mobile-11 {max-width: 91.66667%;}
	.mobile-12 {
	  padding-right: 30px !important;
	  padding-left: 30px !important;
	}

	/* Column Offsets */
	.mobile-offset-1  {margin-left: 8.33333% !important;}
	.mobile-offset-2  {margin-left: 16.66667% !important;}
	.mobile-offset-3  {margin-left: 25% !important;}
	.mobile-offset-4  {margin-left: 33.33333% !important;}
	.mobile-offset-5  {margin-left: 41.66667% !important;}
	.mobile-offset-6  {margin-left: 50% !important;}
	.mobile-offset-7  {margin-left: 58.33333% !important;}
	.mobile-offset-8  {margin-left: 66.66667% !important;}
	.mobile-offset-9  {margin-left: 75% !important;}
	.mobile-offset-10 {margin-left: 83.33333% !important;}
	.mobile-offset-11 {margin-left: 91.66667% !important;}

  /* Column nesting */
  .mobile-collapsed .column {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .has-columns {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }

  .has-columns .column {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

	/* Media */
	img {
		max-width: 100%;
	  width: auto;
	  height: auto;
	}
  .has-bg-image {background-size: cover !important;}

	/* Alignment */
	.mobile-center {
	  display: table !important;
	  float: none;
    margin-left: auto !important;
    margin-right: auto !important;
	}
	.mobile-text-center {text-align: center !important;}
	.mobile-text-left   {text-align: left !important;}
	.mobile-text-right  {text-align: right !important;}

	/* Visibility */
	.show-on-mobile {
	  display: table !important;
	  overflow: visible !important;
	  line-height: inherit !important;
	}

	.hide-on-mobile {
	  display: none !important;
	  width: 0;
	  overflow: hidden;
	}

	/* Column Reordering */
	.mobile-full-width {
	  display: table;
	  width: 100%;
	}

	.mobile-first {display: table-header-group !important;}
	.mobile-intermediate {display: table-row !important;}
	.mobile-last {display: table-footer-group !important;}

	.mobile-first th,
	.mobile-intermediate th,
	.mobile-last th {
	  padding-left: 30px !important;
	  padding-right: 30px !important;
	}

	/* Menu */
  .menu[align="center"],
  .menu.mobile-center {
    width: auto !important;
  }
  .menu th {
    width: auto !important;
    display: inline-block !important;
    padding-bottom: 15px !important;
  }
  .menu.mobile-vertical th {
    display: block !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* Interactive components: Hamburger Menu, Accordion */
  .hamburger-menu,
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    -ms-transition: max-height .2s ease-in-out;
    -webkit-transition: max-height .2s ease-in-out;
      transition: max-height .2s ease-in-out;
  }
  .menu-trigger img {
    display: block;
    margin: 0 auto !important;
    float: none !important;
    max-height: none !important;
  }
  .menu-trigger:hover + .hamburger-menu,
  .hamburger-menu:hover,
  .accordion-item:hover .accordion-content {
    max-height: 999px !important;
    overflow: visible !important;
  }

  /* Spacing Helpers */
  .spacer,
  .divider th                 {height: 30px; line-height: 100% !important; font-size: 100% !important;}
  .mobile-padding-top         {padding-top: 30px !important;}
  .mobile-padding-top-mini    {padding-top: 10px !important;}
  .mobile-padding-bottom      {padding-bottom: 30px !important;}
  .mobile-padding-bottom-mini {padding-bottom: 10px !important;}
  .mobile-margin-top          {margin-top: 30px !important;}
  .mobile-margin-top-mini     {margin-top: 10px !important;}
  .mobile-margin-bottom       {margin-bottom: 30px !important;}
  .mobile-margin-bottom-mini  {margin-bottom: 10px !important;}
}
