<table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
  <tr>
    <td class="spacer" height="40" colspan="2" style="line-height: 40px;">&nbsp;</td>
  </tr>
  <tr>
    <th class="column mobile-12 mobile-padding-bottom" width="310" style="padding-left: 30px; padding-right: 10px;">
      <a href="http://thememountain.com" target="_blank" class="mobile-center" style="display: block;">
        <img src="https://unsplash.it/310/310?image=1062" width="310" alt="Coupon Image" style="width: 100%; max-width: 310px;">
      </a>
    </th>
    <th class="column mobile-12 has-columns" width="310" style="padding-left: 10px; padding-right: 30px;">
      <table class="row" cellpadding="0" cellspacing="0">
        <tr>
          <th class="column" width="274" style="padding: 30px; border: 3px dashed #CCCCCC; color: #000000; font-weight: 400;">
            <div class="spacer" style="line-height: 35px;">&nbsp;</div>
            <div style="color: #999999; font-size: 13px; margin-bottom: 10px; line-height: 16px; text-transform: uppercase;">Mondays suck, so</div>
            <div style="font-size: 36px; font-weight: 700; line-height: 100%; word-break: break-all;">Get $25 OFF</div>
            <div style="color: #999999; font-size: 13px; margin-bottom: 30px; text-transform: uppercase;">Your next order</div>
            <table align="center" bgcolor="#4C4054" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
              <tr>
                <th>
                  <a href="http://thememountain.com" target="_blank" style="border: 0 solid #4C4054; color: #FFFFFF; display: inline-block; font-size: 15px; padding: 13px 25px 13px 25px; text-decoration: none;">REDEEM COUPON &rarr;</a>
                </th>
              </tr>
            </table>
            <div class="spacer" style="line-height: 35px;">&nbsp;</div>
          </th>
        </tr>
      </table>
    </th>
  </tr>
  <tr>
    <td class="spacer" height="40" colspan="2" style="line-height: 40px;">&nbsp;</td>
  </tr>
</table>
