<table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="spacer" height="40" style="line-height: 40px;">&nbsp;</td>
  </tr>
  <tr>
    <td style="padding: 0 20px;">
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col pb-sm-2" width="310" style="padding: 0 10px;">
            <img src="https://picsum.photos/620/620?image=1062" class="align-sm-center" width="310" alt="Coupon Image" style="max-width: 310px; width: 100%;">
          </td>
          <td class="col" width="310" style="padding: 0 10px; vertical-align: middle;">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td align="center" width="100%" style="padding: 30px; border: 3px dashed #CCCCCC; color: #000000;">
                  <div class="spacer" style="line-height: 35px;">&nbsp;</div>
                  <div style="color: #999999; font-size: 13px; margin-bottom: 10px; line-height: 16px; text-transform: uppercase;">Mondays suck, so</div>
                  <div style="font-size: 36px; font-weight: 700; line-height: 100%;">Get $25 OFF</div>
                  <div style="color: #999999; font-size: 13px; margin-bottom: 30px; text-transform: uppercase;">Your next order</div>
                  <table align="center" bgcolor="#4C4054" cellpadding="0" cellspacing="0" role="presentation" style="margin: 0 auto;">
                    <tr>
                      <th>
                        <a href="http://thememountain.com" target="_blank" style="border: 0 solid #4C4054; color: #FFFFFF; display: block; font-size: 15px; padding: 10px 30px; text-decoration: none;">REDEEM COUPON &rarr;</a>
                      </th>
                    </tr>
                  </table>
                  <div class="spacer" style="line-height: 35px;">&nbsp;</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="spacer" height="40" style="line-height: 40px;">&nbsp;</td>
  </tr>
</table>
