<table class="wrapper" align="center" bgcolor="#EEEEEE" style="border-spacing: 0; margin: 0 auto; width: 100%;">
  <tr>
    <td style="padding: 0;">
      <table class="row" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;">
        <tr>
          <th class="column" width="640" style="width: 640px; padding: 0; padding-left: 30px; padding-right: 30px;">
            <table class="divider" width="100%" style="border-spacing: 0;">
              <tr>
                <th height="40" style="font-size: 40px; line-height: 40px; padding: 0;">&nbsp;</th>
              </tr>
              <tr>
                <td height="1" style="height: 1px; border-top: 1px solid #EEEEEE; padding: 0; font-size: 1px; line-height: 1px;">&nbsp;</td>
              </tr>
              <tr>
                <th height="40" style="font-size: 40px; line-height: 40px; padding: 0;">&nbsp;</th>
              </tr>
            </table>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
