<table class="wrapper" align="center" bgcolor="#EEEEEE" style="border-spacing: 0; Margin: 0 auto; width: 100%; min-width: 700px;">
  <tr>
    <td style="padding: 0;">
      <table class="row" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;">
        <tr>
          <th class="column" width="640" style="width: 640px; padding: 0; padding-left: 30px; padding-right: 30px; text-align: left;">
            <table width="100%" style="border-spacing: 0;">
              <tr>
                <td class="divider-top" style="padding: 30px 0 0; font-size: 0; line-height: 0;">&nbsp;</td>
              </tr>
              <tr>
                <td class="divider-bottom" height="1" style="height: 1px; border-top: 1px solid #EEEEEE; padding: 0 0 30px; font-size: 1px; line-height: 1px;">&nbsp;</td>
              </tr>
            </table>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
