<table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" style="margin: 0 auto;">
  <tr>
    <th class="column mobile-12" width="310" style="width: 310px; padding-top: 30px; padding-bottom: 30px; padding-left: 30px; padding-right: 10px; font-weight: 400;">
      <center>
        <img src="../../img/icon-download.png" width="36" height="36" alt="Download" style="width: 36px; height: 36px;" />
      </center>
      <h3>A Small Title</h3>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </th>
    <th class="column mobile-12" width="310" bgcolor="#7E57C2" style="width: 310px; padding-top: 30px; padding-bottom: 30px; padding-left: 10px; padding-right: 30px; font-weight: 400;">
      <center>
        <img src="../../img/icon-mouse.png" width="36" height="36" alt="Download" style="width: 36px; height: 36px;" />
      </center>
      <h3 style="color: #FFFFFF;">A Small Title</h3>
      <div style="color: #FFFFFF;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </th>
  </tr>
</table>
