<table class="row" align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col px-sm-2" align="center" width="290" style="padding: 30px;">
            <img src="https://i.imgur.com/XqzhK67.png" width="36" alt="Download" style="max-width: 36px; width: 100%;" />
            <h3>Download our app</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </td>
          <td class="col px-sm-2" align="center" bgcolor="#7E57C2" width="290" style="padding: 30px;">
            <img src="https://i.imgur.com/BuBHL3w.png" width="36" alt="Download" style="max-width: 36px; width: 100%;" />
            <h3 style="color: #FFFFFF;">Take control</h3>
            <div style="color: #FFFFFF;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
