<table class="menu mobile-margin-top" width="100%" style="border-spacing: 0;">
  <tr>
    <th class="menu-item" style="padding: 0; padding-right: 40px;">
      <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">News</a>
    </th>
    <th class="menu-item" style="padding: 0; padding-right: 40px;">
      <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">Services</a>
    </th>
    <th class="menu-item" style="padding: 0; padding-right: 40px;">
      <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">Work</a>
    </th>
    <th class="menu-item" style="padding: 0;">
      <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">Store</a>
    </th>
  </tr>
</table>
