<div class="hamburger-menu-wrap">
  <!--[if !mso 9]><!-->
  <a class="menu-trigger show-on-mobile mobile-center" style="display: none; background-color: #FFFFFF; position: relative;">
    <img src="../../img/menu-icon.png" width="20" height="14" style="width: 20px; height: 14px; padding: 20px; float: left; margin-left: -100em; max-height: 0;">
  </a>
  <!--<![endif]-->
  <div class="hamburger-menu mobile-margin-top" style="position: relative;">
    <table class="menu mobile-vertical mobile-center" style="border-spacing: 0;">
      <tr>
        <th class="menu-item mobile-text-center" style="padding: 0; padding-right: 40px; text-align: left;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">News</a>
        </th>
        <th class="menu-item mobile-text-center" style="padding: 0; padding-right: 40px; text-align: left;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">Services</a>
        </th>
        <th class="menu-item mobile-text-center" style="padding: 0; padding-right: 40px; text-align: left;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">Work</a>
        </th>
        <th class="menu-item mobile-text-center" style="padding: 0; text-align: left;">
          <a href="#" target="_blank" style="color: #999999; font-size: 14px; text-decoration: none;">Store</a>
        </th>
      </tr>
    </table>
  </div>
</div>
