<div>
  <!--[if !mso 9]><!-->
  <img class="toggle-trigger show-sm p-sm-1" src="https://i.imgur.com/RIRjWm6.png" width="20" aria-hidden="true" style="display: none; max-height: 0; max-width: 20px; width: 100%;">
  <!--<![endif]-->
  <div class="toggle-content">
    <table class="nav nav-sm-vertical" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="nav-item" style="padding-right: 30px;">
          <a href="http://example.com" style="color: #999999; text-decoration: none;">News</a>
        </td>
        <td class="nav-item" style="padding-right: 30px;">
          <a href="http://example.com" style="color: #999999; text-decoration: none;">Services</a>
        </td>
        <td class="nav-item" style="padding-right: 30px;">
          <a href="http://example.com" style="color: #999999; text-decoration: none;">Work</a>
        </td>
        <td class="nav-item">
          <a href="http://example.com" style="color: #999999; text-decoration: none;">Store</a>
        </td>
      </tr>
    </table>
  </div>
</div>
