<table class="row" align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td style="padding: 0 20px;">
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col" width="100" style="padding: 0 10px;">
            <div style="font-size: 14px; margin-top: 30px;">2007 - 2008</div>
          </td>
          <td class="col hide-sm" align="center" width="50" style="padding: 0 10px;">
            <img src="https://i.imgur.com/evrIM2o.png" alt="|" width="35" style="width: 100%; max-width: 35px;">
          </td>
          <td class="col py-sm-mini" width="450" style="padding: 30px 10px 0;">
            <h4 style="margin: 0;">Massachusetts Institute of Technology</h4>
            <div class="spacer" style="line-height: 15px; height: 15px;">&nbsp;</div>
            <div>Co-wrote a book on the Semantic Web and Best Practices for Developers. Awarded the MIT entreprenur of the year.</div>
          </td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col" width="100" style="padding: 0 10px;">
            <div style="font-size: 14px; margin-top: 30px;">2004 - 2006</div>
          </td>
          <td class="col hide-sm" align="center" width="50" style="padding: 0 10px;">
            <img src="https://i.imgur.com/evrIM2o.png" alt="|" width="35" style="width: 100%; max-width: 35px;">
          </td>
          <td class="col py-sm-mini" width="450" style="padding: 30px 10px 0;">
            <h4 style="margin: 0;">Parsons School of Design</h4>
            <div class="spacer" style="line-height: 15px; height: 15px;">&nbsp;</div>
            <div>Awarded Best Designer of the Year voted by student and teacher body.</div>
          </td>
        </tr>
      </table>
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col" width="100" style="padding: 0 10px;">
            <div style="font-size: 14px; margin-top: 30px;">2002 - 2004</div>
          </td>
          <td class="col hide-sm" align="center" width="50" style="padding: 0 10px;">
            <img src="https://i.imgur.com/evrIM2o.png" alt="|" width="35" style="width: 100%; max-width: 35px;">
          </td>
          <td class="col py-sm-mini" width="450" style="padding: 30px 10px 0;">
            <h4 style="margin: 0;">Berkley College</h4>
            <div class="spacer" style="line-height: 15px; height: 15px;">&nbsp;</div>
            <div>Two year program with a focus on design principles and Javascript development. Won National Student Design Competition for Application Design.</div>
          </td>
        </tr>
      </table>
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
    </td>
  </tr>
</table>
