<table class="wrapper" align="center" bgcolor="#EEEEEE" style="border-spacing: 0; margin: 0 auto; width: 100%; min-width: 700px;">
  <tr>
    <td style="padding: 0;">
      <table class="row" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;">
        <tr valign="top" style="vertical-align: top;">
          <th class="column" width="90" style="width: 90px; padding: 0; padding-left: 30px; padding-right: 10px; text-align: left; font-weight: 400;">
            <div style="font-size: 14px; margin-top: 30px;">2007 - 2008</div>
          </th>
          <th class="column hide-on-mobile" width="90" style="width: 90px; padding: 0; padding-left: 10px; padding-right: 10px; text-align: left; font-weight: 400;">
            <center>
              <img src="../../img/tree.png" style="display: block; outline: none;">
            </center>
          </th>
          <th class="column" width="420" style="width: 420px; padding: 0; padding-left: 10px; padding-right: 30px; text-align: left; font-weight: 400;">
            <h4 style="margin: 30px 0 20px;">Massachusetts Institute of Technology</h4>
            <div>Co-wrote a book on the Semantic Web and Best Practices for Developers. Awarded the MIT entreprenur of the year (elected by student body).</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 0;">
      <table class="row" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;">
        <tr valign="top" style="vertical-align: top;">
          <th class="column" width="90" style="width: 90px; padding: 0; padding-left: 30px; padding-right: 10px; text-align: left; font-weight: 400;">
            <div style="font-size: 14px; margin-top: 30px;">2004 - 2006</div>
          </th>
          <th class="column hide-on-mobile" width="90" style="width: 90px; padding: 0; padding-left: 10px; padding-right: 10px; text-align: left; font-weight: 400;">
            <center>
              <img src="../../img/tree.png" style="display: block; outline: none;">
            </center>
          </th>
          <th class="column" width="420" style="width: 420px; padding: 0; padding-left: 10px; padding-right: 30px; text-align: left; font-weight: 400;">
            <h4 style="margin: 30px 0 20px;">Parsons School of Design</h4>
            <div>Awarded Best Designer of the Year voted by student and teacher body.</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="padding: 0;">
      <table class="row" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;">
        <tr valign="top" style="vertical-align: top;">
          <th class="column" width="90" style="width: 90px; padding: 0; padding-left: 30px; padding-right: 10px; text-align: left; font-weight: 400;">
            <div style="font-size: 14px; margin-top: 30px;">2002 - 2004</div>
          </th>
          <th class="column hide-on-mobile" width="90" style="width: 90px; padding: 0; padding-left: 10px; padding-right: 10px; text-align: left; font-weight: 400;">
            <center>
              <img src="../../img/tree.png" style="display: block; outline: none;">
            </center>
          </th>
          <th class="column" width="420" style="width: 420px; padding: 0; padding-left: 10px; padding-right: 30px; text-align: left; font-weight: 400;">
            <h4 style="margin: 30px 0 20px;">Berkley College</h4>
            <div>Two year program with a focus on design principles and Javascript development. Won National Student Design Competition for Application Design.</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
