<table class="wrapper" align="center" bgcolor="#EEEEEE" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
        <tr valign="top" style="vertical-align: top;">
          <th class="column mobile-12" width="90" style="padding-left: 30px; padding-right: 10px; font-weight: 400; text-align: left;">
            <div style="font-size: 14px; margin-top: 30px;">2007 - 2008</div>
          </th>
          <th class="column hide-on-mobile" width="90" style="padding-left: 10px; padding-right: 10px; font-weight: 400;">
            <center>
              <img src="../../img/tree.png" style="border: 0; display: block;">
            </center>
          </th>
          <th class="column mobile-12" width="420" style="padding-left: 10px; padding-right: 30px; font-weight: 400; text-align: left;">
            <h4 style="margin: 30px 0 20px;">Massachusetts Institute of Technology</h4>
            <div>Co-wrote a book on the Semantic Web and Best Practices for Developers. Awarded the MIT entreprenur of the year.</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
        <tr valign="top" style="vertical-align: top;">
          <th class="column mobile-12" width="90" style="padding-left: 30px; padding-right: 10px; font-weight: 400; text-align: left;">
            <div style="font-size: 14px; margin-top: 30px;">2004 - 2006</div>
          </th>
          <th class="column hide-on-mobile" width="90" style="padding-left: 10px; padding-right: 10px; font-weight: 400;">
            <center>
              <img src="../../img/tree.png" style="border: 0; display: block;">
            </center>
          </th>
          <th class="column mobile-12" width="420" style="padding-left: 10px; padding-right: 30px; font-weight: 400; text-align: left;">
            <h4 style="margin: 30px 0 20px;">Parsons School of Design</h4>
            <div>Awarded Best Designer of the Year voted by student and teacher body.</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0">
        <tr valign="top" style="vertical-align: top;">
          <th class="column mobile-12" width="90" style="padding-left: 30px; padding-right: 10px; font-weight: 400; text-align: left;">
            <div style="font-size: 14px; margin-top: 30px;">2002 - 2004</div>
          </th>
          <th class="column hide-on-mobile" width="90" style="padding-left: 10px; padding-right: 10px; font-weight: 400;">
            <center>
              <img src="../../img/tree.png" style="border: 0; display: block;">
            </center>
          </th>
          <th class="column mobile-12" width="420" style="padding-left: 10px; padding-right: 30px; font-weight: 400; text-align: left;">
            <h4 style="margin: 30px 0 20px;">Berkley College</h4>
            <div>Two year program with a focus on design principles and Javascript development. Won National Student Design Competition for Application Design.</div>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
