<table class="wrapper" align="center" bgcolor="#EEEEEE" style="border-spacing: 0; margin: 0 auto; width: 100%;">
  <tr>
    <td style="padding: 0;">
      <table class="row" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;">
        <tr valign="middle" style="vertical-align: middle;">
          <th class="column" width="640" style="width: 640px; padding: 0; padding-left: 30px; padding-right: 30px; font-weight: 400;">
            <table style="border-spacing: 0; margin: 0 auto;">
              <tr>
                <th style="padding: 0; text-align: center;">
                  <div>
                    <img src="../../img/testimonial-quote.png" width="33" height="29" style="width: 33px; height: 29px;" />
                  </div>
                  <h3>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</h3>
                  <small style="color: #666666; font-style: italic;">Steve Jobs</small>
                </th>
              </tr>
            </table>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
