<table class="row" align="center" cellpadding="20" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td>
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
      <table cellpadding="10" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col" width="550">
            <img src="../../img/testimonial-quote.png" alt="''" width="33" style="width: 100%; max-width: 33px;" />
            <h3 style="font-weight: 500; font-style: italic;">Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</h3>
            <small style="color: #969AA1; text-transform: uppercase;">Steve Jobs</small>
          </td>
        </tr>
      </table>
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
    </td>
  </tr>
</table>
