<table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0">
  <tr>
    <th class="column" width="640" style="padding-left: 30px; padding-right: 30px;">
      <table align="center" cellpadding="0" style="margin: 0 auto;">
        <tr>
          <th style="border-left: 1px solid #EEEEEE; padding-left: 30px; padding-right: 30px; font-weight: 400; text-align: left;">
            <h3 style="margin-top: 0;">Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</h3>
            <small style="color: #666666; font-style: italic;">Steve Jobs</small>
          </th>
        </tr>
      </table>
    </th>
  </tr>
</table>
