<table class="row" align="center" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="px-sm-2" style="padding: 0 60px;">
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col pl-sm-2" width="550" style="border-left: 1px solid #EEEEEE; padding-left: 30px;">
            <h3 style="font-weight: 500; font-style: italic; margin-top: 0;">Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.</h3>
            <small style="color: #969AA1; text-transform: uppercase;">Steve Jobs</small>
          </td>
        </tr>
      </table>
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
    </td>
  </tr>
</table>
