<table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" role="presentation" width="700">
  <tr>
    <td style="padding: 0 30px;">
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col" width="640">
            <div style="margin-bottom: 30px;">
              <a class="toggle-trigger" style="text-decoration: none;">
                <button class="toggle-trigger" style="background-color: #EEEEEE; margin: 0; display: block; width: 100%; text-align: left; border: none; outline: none; font-size: 13px;">
                  <table bgcolor="#EEEEEE" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tr>
                      <td style="padding: 20px;">Panel title</td>
                    </tr>
                  </table>
                </button>
              </a>
              <div class="toggle-content">
                <table cellpadding="0" cellspacing="0" role="presentation" width="100%" style="border: 1px solid #EEEEEE;">
                  <tr>
                    <td style="padding: 20px;">
                      <h2 style="font-size: 28px;">Lorem ipsum dolor</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div>
              <a class="toggle-trigger" style="text-decoration: none;">
                <button class="toggle-trigger" style="background-color: #EEEEEE; margin: 0; display: block; width: 100%; text-align: left; border: none; outline: none; font-size: 13px;">
                  <table bgcolor="#EEEEEE" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                    <tr>
                      <td style="padding: 20px;">Panel title</td>
                    </tr>
                  </table>
                </button>
              </a>
              <div class="toggle-content">
                <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border: 1px solid #EEEEEE;">
                  <tr>
                    <td style="padding: 20px;">
                      <h2 style="font-size: 28px;">Lorem ipsum dolor</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="spacer" style="line-height: 40px;">&nbsp;</div>
    </td>
  </tr>
</table>
