<table cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="spacer py-sm-20" height="40">&zwnj;</td>
  </tr>
  <tr>
    <td style="padding: 0 20px;">
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col pb-sm-30" width="310" style="padding: 0 10px;">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="p-sm-2" align="center" bgcolor="#000000" style="color: #FFFFFF; line-height: normal; padding: 30px;">
                  <h3 style="font-size: 36px; font-weight: 400; margin: 0;">1,556 Houses</h3>
                  <p style="font-size: 12px; margin: 0;">SINCE JANUARY '13</p>
                </td>
              </tr>
            </table>
          </td>
          <td class="col" width="310" style="padding: 0 10px;">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="p-sm-30" align="center" bgcolor="#000000" style="color: #FFFFFF; line-height: normal; padding: 30px;">
                  <h3 style="font-size: 36px; font-weight: 400; margin: 0;">643 Clients</h3>
                  <p style="font-size: 12px; margin: 0;">SINCE AUGUST '10</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="spacer py-sm-20" height="40">&zwnj;</td>
  </tr>
</table>
