<table class="row" align="center" cellpadding="20" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="spacer" height="40" style="line-height: 40px;">&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table cellpadding="10" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col pb-sm" width="310">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="p-sm" align="center" bgcolor="#000000" style="color: #FFFFFF; line-height: normal; padding: 30px;">
                  <div style="font-size: 36px;">1,556 Houses</div>
                  <div style="font-size: 12px;">SINCE JANUARY '13</div>
                </td>
              </tr>
            </table>
          </td>
          <td class="col" width="310">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="p-sm" align="center" bgcolor="#000000" style="color: #FFFFFF; line-height: normal; padding: 30px;">
                  <div style="font-size: 36px;">643 Clients</div>
                  <div style="font-size: 12px;">SINCE AUGUST '10</div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="spacer" height="40" style="line-height: 40px;">&nbsp;</td>
  </tr>
</table>
