<table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" role="presentation" width="700">
  <tr>
    <td class="px-sm" bgcolor="#DA4437" background="https://picsum.photos/700/140?image=859" style="background-image: url('https://picsum.photos/700/140?image=859'); background-repeat: no-repeat; background-position: center; background-size: cover;">
      <!--[if gte mso 9]>
      <v:image src="https://picsum.photos/700/140?image=859" style="width:700px;height:140px;" />
      <v:rect fill="true" stroke="false" style="position:absolute;width:700px;height:140px;">
      <v:fill opacity="0%"/>
      <div>
      <![endif]-->
      <div class="spacer" style="line-height: 30px;">&nbsp;</div>
      <table class="full-width-sm" align="center" cellpadding="0" cellspacing="0" role="presentation" width="640" style="margin: 0 auto;">
        <tr>
          <td class="col pb-sm" align="center" width="200" style="color: #FFFFFF;">
            <h4 style="margin: 0 0 10px;">New Clients '14</h4>
            <div style="font-size: 45px; line-height: 100%;">2,200+</div>
          </td>
          <td class="col pb-sm borderless-sm" align="center" width="200" style="padding: 0 20px; border-left: 1px solid #EEEEEE; color: #FFFFFF;">
            <h4 style="margin: 0 0 10px;">Accounts Since '10</h4>
            <div style="font-size: 45px; line-height: 100%;">4,000+</div>
          </td>
          <td class="col borderless-sm" align="center" width="200" style="border-left: 1px solid #EEEEEE; color: #FFFFFF;">
            <h4 style="margin: 0 0 10px;">Awards Earned</h4>
            <div style="font-size: 45px; line-height: 100%;">860+</div>
          </td>
        </tr>
      </table>
      <div class="spacer" style="line-height: 30px;">&nbsp;</div>
      <!--[if gte mso 9]></div></v:fill></v:rect><![endif]-->
    </td>
  </tr>
</table>
