<table class="row" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" role="presentation" width="700">
  <tr>
    <td style="padding: 0 30px;">
      <div class="spacer" style="line-height: 30px;">&nbsp;</div>
      <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
        <tr>
          <td class="col pb-sm" align="center" width="200">
            <h4 style="margin: 0 0 10px;">New Clients '14</h4>
            <div style="font-size: 45px; line-height: 100%;">2,200+</div>
          </td>
          <td class="col pb-sm borderless-sm" align="center" width="200" style="padding: 0 20px; border-left: 1px solid #EEEEEE;">
            <h4 style="margin: 0 0 10px;">Accounts Since '10</h4>
            <div style="font-size: 45px; line-height: 100%;">4,000+</div>
          </td>
          <td class="col borderless-sm" align="center" width="200" style="border-left: 1px solid #EEEEEE;">
            <h4 style="margin: 0 0 10px;">Awards Earned</h4>
            <div style="font-size: 45px; line-height: 100%;">860+</div>
          </td>
        </tr>
      </table>
      <div class="spacer" style="line-height: 30px;">&nbsp;</div>
    </td>
  </tr>
</table>
