<table class="wrapper" align="center" bgcolor="#EEEEEE" style="border-spacing: 0; margin: 0 auto; width: 100%; min-width: 700px;">
  <tr>
    <td style="padding: 0;">
      <table class="row collapsed" align="center" bgcolor="#FFFFFF" style="border-spacing: 0; margin: 0 auto;">
        <tr valign="top" style="vertical-align: top;">
          <th class="column" width="700" style="color: #666666; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE; width: 700px; padding: 0; padding-right: 30px; padding-left: 30px; text-align: center; font-weight: 400;">
            <h4>Pine Email Framework by ThemeMountain</h4>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>
